body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh 20vh 10vh 20vh;
  background: rgb(55, 55, 55);
}

.content {
  display: flex;
  height: 75vh;
  width: 75vw;
  margin: auto;
  padding: 5%;
  background-blend-mode:soft-light;
  background-image: url('vikingbg.png'); /* URL to your image */
  background-size:cover; /* Ensures the image covers the whole area */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: top, left; /* Centers the image */
}
.form-image {
  width: 28%;
  height: 100%;
  position: relative;
  border-right: thick double #000000;
  display:flex;
  justify-content: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#formheader {
  text-align: center;
  margin: .1em;
  font-family: "Titillium Web", sans-serif;
  font-size: 2em;
}
.cat-pic {
  height:100%;
  object-fit: scale-down;
  position: relative;
  top: 0;
  left: 0;
}
.odin-pic {
  padding:6px;
  height: 15%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background-color: rgba(134, 134, 134, 0.384);
}

#odinlogo {
  height: 80%;
}

#odintext {
  text-align: center;
  margin-left: 10px;
  font-family: "Titillium Web", sans-serif;
  font-size: 4em;
  font-weight: 900;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  margin-top:1em;
  margin-bottom: .1em;
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;
}

form {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.form-element {
  display: flex;
  flex-direction: column;
}

label {
  font-size: .7em;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: .1em;
  margin-left: 8px;
  font-weight: 700;
}

input {
  height: 26px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(176, 176, 176);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.343);
  margin-bottom: 24px;
  background-color: rgba(149, 149, 149, 0.27);
}

button {
  
  border-radius: 5px;
  border-width: 3px;
  
  margin-right: 0%;
  background-color: #06478900;
  width: 10em;
  height: 2em;
  color: rgb(0, 0, 0);
  font-family: "Titillium Web", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 1em;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.343);
}
